@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #121212;
  color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  @media (min-width: 640px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: 1024px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
